@tailwind base;
@tailwind components;
@tailwind utilities;

/* add following lines */
@layer base {
  img {
    @apply inline-block;
  }
}

input[type="text"] {
  height: 100%;
  /* position: absolute; */
  text-align: start; /* Optional */
  width: 100%;
}
.pdf-content {
  white-space: pre-line; /* or pre-wrap */
}
